<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div class="container">
      <a class="navbar-brand" href="/"><span>nagano_CAKE</span></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li><%= link_to 'About',"/about",class:"fas fa-home nav-link text-light" %></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
